
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f9fa;
  color: #333;
  font-family: 'Arial', sans-serif;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}


.about-header {
  background-color: #003366;
  color: #fff;
  padding: 10px 20px;
  width: 100%;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about-header h1 {
  margin: 0;
  font-size: 2rem;
}


.about-main {
  background-color: #fff;
  padding: 20px;
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  line-height: 1.6;
  text-align: left;
}

.about-content p {
  font-size: 1rem;
  margin: 15px 0;
}


.about-footer {
  background-color: #003366;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  width: 100%;
  margin-top: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about-footer p {
  margin: 0;
  font-size: 1rem;
}

