/* style.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 24px;
    margin: 0;
    letter-spacing: 1px;
}

#logoutButton {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

#logoutButton:hover {
    background-color: #c0392b;
}



main {
    padding: 20px;
    text-align: center;
}

main p {
    font-size: 20px;
    color: #555;
    margin-bottom: 20px;
}

.photo-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.photo-item {
    width: 220px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    transition: transform 0.3s, box-shadow 0.3s;
}

.photo-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.photo-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.photo-item p {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    color: #333;
}

.more-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    border-radius: 0 0 8px 8px;
    transition: background-color 0.3s, transform 0.3s;
}

.more-button:hover {
    background-color: #2980b9;
    transform: translateY(-2px);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
    font-size: 14px;
}

/* Styles for the navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

.navbar-controls {
    display: flex;
    gap: 10px;
}

.search-bar {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.navbar-button {
    padding: 5px 10px;
    border: none;
    background-color: #555;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navbar-button:hover {
    background-color: #777;
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-controls {
        flex-direction: column;
        width: 100%;
    }

    .search-bar, .navbar-button {
        width: 100%;
        margin-top: 5px;
    }
}

