/* style.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 24px;
    margin: 0;
    letter-spacing: 1px;
}

#logoutButton, #aboutUsButton, #contactUsButton {
    padding: 10px 20px;
    background-color: #ed0a0a;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

#logoutButton:hover, #aboutUsButton:hover, #contactUsButton:hover {
    background-color: #ed0a0a;
}

main {
    padding: 20px;
    text-align: center;
}

main p {
    font-size: 20px;
    color: #555;
    margin-bottom: 20px;
}

.photo-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.photo-item {
    width: 220px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    transition: transform 0.3s, box-shadow 0.3s;
}

.photo-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.photo-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.photo-item p {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    color: #333;
}

.more-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    border-radius: 0 0 8px 8px;
    transition: background-color 0.3s, transform 0.3s;
}

.more-button:hover {
    background-color: #2980b9;
    transform: translateY(-2px);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
    font-size: 14px;
}
